<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Melihcan Kaya
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Dashboard/Index">
					<strong><i class="la la-table"></i></strong>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Feature/FeatureList">
					<strong><i class="la la-align-left"></i></strong>
					<p>Giriş Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/SocialMedia/SocialMediaList">
					<strong><i class="la la-list-ul"></i></strong>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/About/AboutList">
					<strong><i class="la la-file-text-o"></i></strong>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Skill/SkillList">
					<strong><i class="la la-yelp"></i></strong>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Experience/ExperienceList/">
					<strong><i class="la la-trello"></i></strong>
					<p>Deneyimler</p>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/Portfolio/PortfolioList">
					<strong><i class="la la-font"></i></strong>
					<p>Portfolyo</p>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Testimonial/TestimonialList">
					<strong><i class="la la-users"></i></strong>
					<p>Referanslarım</p>
				</a>
			</li>
				<li class="nav-item">
				<a class="nav-link" href="/Statistic/StatisticList">
						<strong><i class="la la-bar-chart"></i></strong>
						<p>İstatistikler</p>
					</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/Contact/ContactList">
						<strong><i class="la la-phone"></i></strong>
						<p>İletişim Bilgileri</p>
					</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/Message/MessageList">
						<strong><i class="la la-envelope"></i></strong>
						<p>Gelen Kutusu</p>
					<span class="badge badge-count SideBarUnreadMessageCount">@ViewBag.UnreadMessagesCount</span>
					</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/ToDoList/ToDoListList">
						<strong><i class="la la-folder-o"></i></strong>
						<p>Görevler</p>
					<span class="badge badge-count SideBarInCompleteTaskCount">@ViewBag.IncompleteTasksCount</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#">
						<strong><i class="la la-sign-out"></i></strong>
						<p>Çıkış Yap</p>
					</a>
				</li>
		</ul>
	</div>
</div>