@model List<Skill>
@{
	ViewData["Title"] = "SkillList";
	Layout = "~/Views/Layout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yetenekler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yetenekler Sayfası</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Yetenekler ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Başlık</th>
									<th scope="col">Değer</th>
									<th scope="col">Sil</th>
									<th scope="col">Düzenle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.Title</td>
										<td>@item.value</td>
										<td><a href="/Skill/DeleteSkill/@item.SkillID" class="del la-remove"></a></td>
										<td><a href="/Skill/UpdateSkill/@item.SkillID" class="edt la-edit"></a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Skill/CreateSkill/" class="btn btn-primary">Yeni Yetenek Girişi<a />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

