<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <!-- PhotoSwipe İçeriği -->
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div id="loader"></div>
</div>
