@model ToDoList
@{
	ViewData["Title"] = "CreateToDoList";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Görevler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						Görev Sayfası > Görev Ekleme Sayfası<br /><br />
						<div class="card-title">Görev Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Görevler ile ilgili ekleme işlemini aşağıdaki panelden yapabilirsiniz.
						</div>
						<form method="post">
							<label>Başlık & İçerik</label>
							<input type="text" asp-for="@Model.Title" class="form-control" required />
							<br />
							<label>Tarih</label>
							<input type="date" asp-for="@Model.Date" class="form-control" required />
							<br />
							<button class="btn btn-primary">Görevi Ekle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
