@model List<MyPortfolioProject.DataAccessLayer.Entities.Testimonial>
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanların hakkımda ki görüşleri...</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">
            @foreach (var item in Model)
            {

                <div class="testimonials__slide">

                <p>
                    @item.Description
                </p>
                <div class="testimonials__author h06">
                        <i class="fas fa-user fa-2x" class="testimonials__avatar"></i>&nbsp;&nbsp;@item.NameSurname
                        <p style="padding-left: 45px;"><span>@item.Title</span></p>

                </div>
            </div>
            }

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div> <!-- end s-testimonials -->