@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">
<!--<![endif]-->

@await Component.InvokeAsync("_HeadComponentPartial")


<body id="top">

    <!-- header
    ================================================== -->
    @await Component.InvokeAsync("_NavBarComponentPartial")

    <!-- home
    ================================================== -->
    @await Component.InvokeAsync("_FeatureComponentPartial")
   
    <!-- about
    ================================================== -->
    @await Component.InvokeAsync("_AboutComponentPartial")

    <!-- works
    ================================================== -->
    @await Component.InvokeAsync("_PortfolyoComponentPartial")

    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponentPartial")

    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticComponentPartial")

    <!-- Contact
    ================================================== -->
    @model MyPortfolioProject.DataAccessLayer.Entities.Message

    <section id="contact" class="s-contact target-section">
        <div class="overlay"></div>

        @await Component.InvokeAsync("_ContactUpsideComponentPartial")

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                @await Html.PartialAsync("~/Views/Message/CreateMessage.cshtml", Model)
            </div>

            <div class="tab-full contact__infos">
                @await Component.InvokeAsync("_ContactUndersideComponentPartial")
            </div>
        </div>
    </section>




    <!-- footer
    ================================================== -->
    @await Component.InvokeAsync("_FooterComponentPartial")

    <!-- photoswipe background
    ================================================== -->
    @await Component.InvokeAsync("_PhotoSwipeComponentPartial")

    <!-- Script background
    ================================================== -->

    @await Component.InvokeAsync("_ScriptComponentPartial")

</body>

</html>