@model Admin
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/Login_v16/images/bg-01.jpg');">

			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Sisteme Giriş
				</span>
				<form asp-action="Index" asp-controller="Login">
					<div class="login100-form validate-form p-b-33 p-t-5">
					<div class="wrap-input100 validate-input" data-validate="Lütfen Mailinizi Girin.">
						<input class="input100" type="email" asp-for="AdminMail" placeholder="Mailiniz">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Lütfen Şifrenizi Girin.">
						<input class="input100" type="password" asp-for="AdminPassword" placeholder="Şifreniz">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
						@if (ViewBag.ErrorMessage != null) 
						{ 
							<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
						}
					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							Giriş Yap
						</button>
					</div>
				</form>
					</div>
			</div>
		</div>
	</div>
</body>
