@model MyPortfolioProject.DataAccessLayer.Entities.Message

<form asp-action="CreateMessage" asp-controller="Message" method="post" id="messageForm">
    <fieldset>
        <div class="form-field">
            <input asp-for="NameSurname" type="text" placeholder="Name" minlength="2" id="name" required class="full-width">
            <span asp-validation-for="NameSurname" class="text-danger"></span>
        </div>
        <div class="form-field">
            <input asp-for="Email" type="email" placeholder="Email" id="email" required class="full-width">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-field">
            <input asp-for="Subject" type="text" placeholder="Subject" id="subject" class="full-width">
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-field">
            <textarea asp-for="MessageDetail" placeholder="Message" rows="10" id="message" required class="full-width"></textarea>
            <span asp-validation-for="MessageDetail" class="text-danger"></span>
        </div>
        <input asp-for="SendDate" type="hidden" /> <!-- Tarihi saklı olarak gönder -->
        <div class="form-field">
            <button type="submit" class="full-width btn--primary">Submit</button>
            <div class="submit-loader">
                <div class="text-loader">Sending...</div>
                <div class="s-loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="message-warning" style="display:none;"></div>
<div class="message-success" style="display:none;">Mesajınız başarıyla gönderildi!</div>
